/*#home {
	background: url(../img/download/tyre-car-fade.jpg) no-repeat center center;
}

#home_bg {
	background: url(../img/download/tyre-car-fade.jpg) no-repeat center center;
}*/

body {
	font-weight: 300;
	color: black;
}

#home h1 {
	font-size: 40px;
	line-height: 40px;
	letter-spacing: 0px;
}

#home img {
	width: 300px;
}

/*#parallax_3_mobile {
    background: url(../img/download/1.jpg) no-repeat center bottom;
}*/

#varaosakauppa_content .span4 {
	height: 550px;
}

#footer {
	color: #555;
}